.p-about {
  
}

.p-about__inner::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.16);
  top: 0;
  left: 0;
  z-index: -2;
}


.p-about__inner {
  padding-top: rem(50);
  padding-bottom: rem(50);
  max-width: rem(1000);
  padding-left: rem(25);
  padding-right: rem(25);
  background-image: url(./../img/common/top-about.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: -1;

  @include mq (tab) {
    padding-top: rem(110);
    padding-bottom: rem(110);
    padding-left: rem(50);
    max-width: initial;
  }
}

.p-about__content {
  background: rgba($color: #ffffff, $alpha: 0.95);
  padding: rem(50) rem(15) rem(50) rem(30);
  @include mq(tab) {
    max-width: rem(590);
    width: 100%;
    margin-right: auto;
    padding: rem(50) rem(30);
  }
}

.p-about__box {
  margin-top: rem(30);
}

.p-about__text {
  line-height: 2;
  font-size: rem(14);
  @include mq (tab) {
    font-size: rem(16);
  }
}

.p-about__btn {
  margin-top: rem(30);
  text-transform: uppercase;
}