.p-drawer-menu {
  width: 100%;
  height: 100vh;
  background: rgba($color: #222, $alpha: 0.95);
  z-index: 100;
  text-align: center;
  display: none;
  max-width: rem(520);
  margin-left: auto;
}

.p-drawer-menu__logo {
  padding-top: rem(180);
  width: rem(42.15);
  margin: 0 auto;
}

.p-drawer-menu__items {
  margin-top: rem(20);
}

.p-drawer-menu__item a {
  color: #fff;
  font-family: $font-family-sub;
  font-weight: 800;
  letter-spacing: 0.068em;
  text-transform: uppercase;
  display: block;
  padding: rem(15) 0;
  width: 100%;
  line-height: 1;
}