.p-message__inner {
  margin: 0 auto;
  width: 100%;
  height: inherit;
  max-width: $l-inner;
  padding-right: $padding-pc;
  padding-left: $padding-pc;
}

.p-message__img {
  width: re(340);
  margin-right: auto;

  @include mq (tab) {
    width: rem(420);
  }
}

.p-message__content {
  padding: rem(126) rem(28);
  background-color: #F0F0F0;
  margin-top: rem(-100);

  @include mq (tab) {
    max-width: rem(770);
    margin-left: auto;
    padding: rem(120) rem(185) rem(90);
  }
}

.p-message__box {
  margin-top: rem(30);
}

.p-message__text {
  font-size: rem(14);
  line-height: 2;
  font-weight: 400;
}

.p-message__text:nth-child(n + 2) {
  margin-top: rem(28);
}