.p-topics-info {
 padding-bottom: rem(10);
 border-bottom: 1px solid #dddddd;
}

.p-topics-info__date {
  display: block;
  font-size: rem(10);
  font-weight: 700;
  color: #cecece;
  font-family: $font-family-sub;
  letter-spacing: 0.015em;
  line-height: 1;
}

.p-topics-info__text {
  margin-top: rem(10);
  font-size: rem(12);
  font-weight: 700;
  letter-spacing: 0.068em;
  line-height: (20 / 12);

  @include mq (tab) {
    font-size: rem(14);
  }
}

