.c-btn {
  display: inline-block;
  color: #fff;
  font-size: rem(11);
  font-weight: bold;
  font-family: $font-family-sub;
  letter-spacing: 0.015em;
  line-height: 1;
  padding: rem(11) rem(44);
  background-color: #000000;
  text-transform: uppercase;
}