.c-test {
	color: red;
	font-size: rem(20);
	@include mq(tab){
	font-size: rem(50);
		color: green;
	}
	@include mq(pc) {
		color: orange;
	}
	@include mq(lg) {
		color: brown;
	}
}

.test {
	color: orange;
	font-size: rem(20);
}
